<div class="card mt-3" style="width: 18rem;">
    <div class="ratio ratio-4x3">
        <img src="/uploads/<%= data.img %>" class="card-img-top" alt="..." onerror="this.onerror=null;this.src=`https://cdn.discordapp.com/attachments/940834033825349653/1124969380489470022/noimage.jpg`;"/>
    </div>    
    <div class="card-body">
        <h5 class="card-title"><%= data.name %></h5>
        <a href="/product/<%= data.id %>" class="btn btn-primary stretched-link">BUY NOW!</a>
    </div>
   
</div>
