<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../templates/head") %>
</head>

<body>
  <%- include("../templates/nav") %>

  <section id="home-content" class="container">
    <div class="my-5">
      <div class="align-items-center d-flex justify-content-between mt-5 mb-5">
        <h3>About ayoti</h3>
      </div>
      <div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat purus nec imperdiet blandit. Donec interdum ornare lectus. Etiam sed faucibus leo. Ut quis volutpat ligula. Nullam dui lorem, vulputate ut tempus id, mattis et est. Sed urna metus, malesuada nec sem et, accumsan congue mi. In non ante nec enim fermentum placerat. Vestibulum in vestibulum mi.
        </p>
        <p>
            Aenean vehicula, lorem at molestie aliquam, metus lacus dapibus magna, at sagittis purus lacus sed metus. Nullam id orci fringilla, auctor ipsum a, hendrerit nisi. Vivamus ac nulla odio. Aliquam erat volutpat. Nulla eu orci posuere, aliquet velit lacinia, molestie tortor. Phasellus mattis tortor id justo sodales varius. Donec tempus lectus at semper porta. Vivamus aliquet nisl tincidunt, efficitur magna id, elementum mi. Maecenas at massa vitae odio consectetur sollicitudin. Vivamus sit amet magna risus. Sed tellus sem, rhoncus vel vehicula ac, ultrices sed lorem. Aenean lacinia tincidunt semper. Morbi ac aliquam turpis, id cursus diam. Vivamus lacinia sem gravida finibus laoreet.
        </p>
        <p>
            Vivamus facilisis nec orci id luctus. Duis aliquet sapien nisl, viverra mattis tellus aliquam vel. Integer commodo sagittis lacus, vitae dignissim eros sollicitudin placerat. Duis at ullamcorper velit. Ut nec varius dolor, ac porta leo. Morbi viverra auctor tellus, at vulputate felis congue ut. Nunc mollis magna dolor, a semper tellus fermentum ac. Suspendisse pretium accumsan rhoncus. Integer lacinia sem sit amet orci varius tempor. Duis fermentum consequat eros a mollis. Praesent elementum ante in finibus tincidunt. Nam aliquam, ex a feugiat consectetur, arcu neque vehicula nunc, eget euismod risus velit eu mi. Sed egestas dictum justo vitae volutpat. Aenean lacinia elit vitae cursus lobortis. Suspendisse vitae leo sodales, tristique erat eget, suscipit felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        </p>
        <p class="mt-5">
          <small>Bali Dev Camp 2023 MVC Project🤘🤘🤘</small>
        </p>
      </div>
    </div>
  </section>

  <%- include("../templates/script") %>
</body>

</html>