<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../templates/head") %>
</head>

<body>
  <%- include("../templates/nav") %>

  <section id="home-content" class="container">
    <div class="d-flex flex-column justify-content-center align-items-center mt-5">
        <p class="h2">Welcome to Ayoti</p>
    </div>
  </section>
</body>

</html>